button.maximize.titlebutton:not(.suggested-action):not(.destructive-action),
button.minimize.titlebutton:not(.suggested-action):not(.destructive-action),
button.close.titlebutton:not(.suggested-action):not(.destructive-action) {
  color: @window_fg_color;
	-gtk-icon-theme: 'Adwaita';
	margin: 1px 2px;
}

button.maximize.titlebutton:not(.suggested-action):not(.destructive-action):hover,
button.minimize.titlebutton:not(.suggested-action):not(.destructive-action):hover {
  background-color: @window_fg_color;
  color: @window_bg_color;
}

button.close.titlebutton:not(.suggested-action):not(.destructive-action) > image {
	-gtk-icon-transform: scale(1.15);
	-gtk-icon-shadow: none;
}

button.maximize.titlebutton:not(.suggested-action):not(.destructive-action):not(:hover),
button.minimize.titlebutton:not(.suggested-action):not(.destructive-action):not(:hover),
button.close.titlebutton:not(.suggested-action):not(.destructive-action):not(:hover) {
  background-color: transparent;
}

button.close.titlebutton:not(.suggested-action):not(.destructive-action):hover {
  background-color: @red_1;
  color: @window_bg_color;
}

button.minimize.titlebutton:not(.suggested-action):not(.destructive-action) {
	background-image: -gtk-icontheme("go-down-symbolic");
	background-repeat: no-repeat no-repeat;
	background-size: 16px 16px;
  background-position: center;
	min-height: 22px;
	min-width: 22px;
}

button.maximize.titlebutton:not(.suggested-action):not(.destructive-action) {
	background-image: -gtk-icontheme("go-up-symbolic");
	background-repeat: no-repeat no-repeat;
	background-size: 16px 16px;
  background-position: center;
	min-height: 22px;
	min-width: 22px;
}

button.maximize.titlebutton:not(.suggested-action):not(.destructive-action) > image,
button.minimize.titlebutton:not(.suggested-action):not(.destructive-action) > image {
  color: transparent;
}

window.maximized button.maximize.titlebutton:not(.suggested-action):not(.destructive-action) {
	background-size: 50% 50%;
	min-height: 18px;
	min-width: 18px;
  background-image:
    linear-gradient(to bottom right, transparent 40%, currentColor 40%, currentColor 60%, transparent 60%),
    linear-gradient(to bottom left,  transparent 40%, currentColor 40%, currentColor 60%, transparent 60%),
    linear-gradient(to top right,    transparent 40%, currentColor 40%, currentColor 60%, transparent 60%),
    linear-gradient(to top left,     transparent 40%, currentColor 40%, currentColor 60%, transparent 60%);
  background-position: top left, top right, bottom left, bottom right;
  background-repeat: no-repeat;
}
