button.maximize.titlebutton:not(.suggested-action):not(.destructive-action):not(:hover),
button.minimize.titlebutton:not(.suggested-action):not(.destructive-action):not(:hover) {
  background-color: transparent;
}

button.close.titlebutton:not(.suggested-action):not(.destructive-action) {
  background-color: @accent_bg_color;
  color: @accent_fg_color;
}

button.close.titlebutton:not(.suggested-action):not(.destructive-action):backdrop {
  background-color: shade(@accent_bg_color, 0.5);
  color: @accent_fg_color;
}

